.boton {
    background-color: red;
}

.fondo{
    background: radial-gradient(ellipse at center, rgb(255, 235, 199) 0%, rgb(238, 165, 98) 44%, rgb(238, 153, 64) 100%);

}

.bordeInferior {
    border-bottom: 1px solid;
}

.fila{
    font-family: "Times New Roman", Times, serif;
    font-size: 180%;
}

.bloque{
    /*border: 1px solid black;*/
    width:90%;
    height:80%;
    float:right;
    margin-top:0;
    background: radial-gradient(ellipse at center, rgb(255, 235, 199) 0%, rgb(238, 226, 193) 44%, rgb(238, 212, 161) 100%);
}

div div div input{
    width: 10%;
    /*float: right;*/
    margin-right: 0;
    padding-right: 0;
    right: 0;
    position: relative;
    font-size: 20px;
}

.subtotal{
    width: 50%;
    float: left;

    position: relative;
    font-size: 20px;
}

.botonMasYmenos{
    /*float:right;*/
    /*margin-right: 0;*/
    /*right: 0;*/
    /*margin-top: 0;*/
    /*padding-right: 0;*/
    /*position: absolute;*/
}

.column {
    /*height: 500px;*/
    /*border: 1px solid black;*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid blue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid blue; /* Firefox */
    column-rule: 1px solid blue;
    /*-webkit-column-width: 200px; !* Chrome, Safari, Opera *!*/
    /*column-width: 200px;*/

}